*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.section-width{
    width: 80%;
    margin: 0 auto;
}
.link-button{
    display: inline-block;
    text-decoration: none;
    padding: 11px 30px;
    background: #E4007C;
    color: white;
    margin-top: 50px;
    border-radius: 5px;
}
.section-title{
    text-align: center;
    width: 35%;
    margin: auto;
}
.section-title h2{
    font-size: 35px;
    font-weight: 900;
    color: #333;
    margin-bottom: 15px;
}
.section-title p{
    font-size: 20px;
}


.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/donation1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 180px 0; */
}
.banner-content{
    text-align: center;
    color: white;
    width: 60%;
    margin: auto;
    padding: 170px 0;
}
.banner-content h1{
    font-size: 70px;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 20px;
}

.send-donation{
    padding: 80px 0;
}

.donation-amounts ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.donation-amounts li{
    margin: 0 10px;
    height: 45px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    padding: 30px 30px;
    font-size: 25px;
    font-weight: 900;
    border: 2px solid transparent;
    border-radius: 5px;
}
.donation-amounts .active{
    background: rgb(255, 220, 220);
    border: 2px solid #E4007C;
}

.input-box{
    width: 50%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: -30px;
}
.input-area{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donation-plan{
    padding: 80px 0;
}

.donation-plan-contents{
    display: flex;
    margin-top: 40px;
}
.packages{
    width: 30%;
    margin: 2% 2%;
    padding: 60px 25px;
    border-radius: 5px;
}
.packages img{
    margin-bottom: 20px;
}
.packages h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.packages p{
    line-height: 25px;
}
.food{
    background-color: rgb(255, 241, 225);
}
.shelter{
    background-color: rgb(255, 173, 173);
}
.education{
    background-color: rgb(173, 255, 255);
}

.subscription{
    padding: 80px 0;
}
.subscription-form{
    background-color: #ffe7c8;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscription-input{
    width: 30%;
    padding: 12px 10px;
    font-size: 16px;
    border: none;
    background-color: rgb(184, 184, 184);
    outline: none;
    border-radius: 5px;
}
.subscription-form .link-button{
    margin-bottom: 50px;
}

footer{
    padding: 25px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
footer h4{
    font-size: 22px;
    color: #E4007C;
    margin-bottom: 15px;
}

.give-hope{
    padding: 80px 0;
}
.give-hope-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.give-hope-content h2{
    font-size: 48px;
    margin-bottom: 18px;
}
.give-hope-content p{
    font-size: 17px;
    line-height: 28px;
}
.give-hope-content img{
    width: 600px;
}
.give-hope-content .hope{
    width: 48%;
    margin: 2% 2%;
}