*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.section-width{
    width: 80%;
    margin: 0 auto;
}
.link-button{
    display: inline-block;
    text-decoration: none;
    padding: 11px 30px;
    background: #E4007C;
    color: white;
    margin-top: 50px;
    border-radius: 5px;
}
.section-title{
    text-align: center;
    width: 35%;
    margin: auto;
}
.section-title h2{
    font-size: 35px;
    font-weight: 900;
    color: #333;
    margin-bottom: 15px;
}
.section-title p{
    font-size: 20px;
}

/* Banner Style */

.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.banner-content{
    text-align: center;
    color: #fff;
    width: 60%;
    margin: auto;
    padding: 170px 0;
}
.banner-content h1{
    font-size: 70px;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 20px;
}

/* Send Donation Style */

.send-donation{
    padding: 80px 0;
}
.send-donation-content .donation-amounts ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.send-donation-content .donation-amounts ul li{
    margin: 0 10px;
    height: 45px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    padding: 30px 30px;
    font-size: 25px;
    font-weight: 900;
    border: 2px solid transparent;
    border-radius: 5px;
}
.send-donation-content .donation-amounts .active{
    background: rgb(255, 220, 220);
    border: 2px solid #E4007C;
}
.send-donation-content .input-area {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.send-donation-content .input-area .input-box{
    width: 50%;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: -30px;
}

/* Donation Plan Style */

.donation-plan{
    padding: 80px 0;
}
.donation-plan-contents{
    display: flex;
    margin-top: 40px;
}
.donation-plan-contents .food {
    background-color: rgb(255, 241, 225);
}

.donation-plan-contents .shelter {
    background-color: rgb(255, 173, 173);
}

.donation-plan-contents .education {
    background-color: rgb(173, 255, 255);
}
.donation-plan-contents .packages{
    width: 30%;
    margin: 2% 2%;
    padding: 60px 25px;
    border-radius: 5px;
}
.donation-plan-contents .packages img{
    margin-bottom: 20px;
}
.donation-plan-contents .packages h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.donation-plan-contents .packages p{
    line-height: 25px;
}

/* Give Hope Style */

.give-hope{
    padding: 80px 0;
}
.give-hope-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.give-hope-content .hope{
    width: 48%;
    margin: 2% 2%;
}
.give-hope-content .content-image img {
    width: 600px;
}
.give-hope-content .content-text h2{
    font-size: 48px;
    margin-bottom: 18px;
}
.give-hope-content .content-text p{
    font-size: 17px;
    line-height: 28px;
}

/* Blog Style */

.blog{
    padding: 80px 0;
}
.blog-posts{
    display: flex;
    margin-top: 25px;
}
.blog-posts .single-post{
    width: 30%;
    margin: 2%;
    box-shadow: 0 0 30px rgb(169, 167, 167);
}
.blog-posts .single-post img{
    width: 100%;
    height: 45%;
}
.blog-posts .single-post .blog-text{
    padding: 15px 28px;
}
.blog-posts .single-post .blog-text .post-time{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    color: #E4007C;
}
.blog-posts .single-post .blog-text h3{
    font-weight: 900;
    font-size: 23px;
    margin-bottom: 15px;
}
.blog-posts .single-post .blog-text p{
    margin-bottom: -20px;
}

/* Subscription Style */

.subscription{
    padding: 80px 0;
}
.subscription-form{
    background-color: #ffe7c8;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscription-form .subscription-input{
    width: 35%;
    padding: 11.5px 10px;
    font-size: 16px;
    border: none;
    background-color: rgb(184, 184, 184);
    outline: none;
    border-radius: 5px;
}
.subscription-form .link-button{
    margin-bottom: 50px;
    margin-left: -15px;
    border-radius: 0 5px 5px 0;
}

/* Footer Style */

footer{
    padding: 25px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
footer h4{
    font-size: 22px;
    color: #E4007C;
    margin-bottom: 15px;
}